.site-footer
{
	background-color: $mainBlue;
	color: #FFF;

	padding: 0.5rem 0;

	text-align: center;

	@mixin atMedium
	{
		margin-bottom: 0;
	}

	&__text
	{
		display: block;
		margin-bottom: 1rem;
		font-weight: 200;

		@mixin atMedium
		{
			display: inline;
		}
	}
}